{
        "bootstrap_expect": 3,
        "server": true,
        "data_dir": "/tmp/consul",
        "datacenter": "dc1",
        "encrypt": "K+TZVYrnd1KbGTJBsh5Mog==",
        "log_level": "INFO",
        "enable_syslog": true,
	"bind_addr": "10.0.0.192"
}

